<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.KhachSanConnectionString"
            connectionString="Data Source=THANHQUY\THANHQUY;Initial Catalog=KhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.KhachSanConnectionString1"
            connectionString="Data Source=THANHQUY\SQLEXPRESS;Initial Catalog=KhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.KhachSanConnectionString2"
            connectionString="Data Source=BAOTRAM\SQLEXPRESS;Initial Catalog=KhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="DAL.Properties.Settings.KhachSanConnectionString2"
          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KhachSan;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>